In [4]:
import json 
emp_details=[]
n=int(input("no of employees:"))
for i in range(n):
    s={'firstname':(input(' \n firstname:-')),'lastname ':(input(' \n lastname:-')),
             'city':(input('\n city:-')),
             'CTC':int(input(' \n CTC:-')),
             'AGE':int(input('\n age:-')),
             'contact_no':int(input('\n phone_number:-'))}
    emp_details.append(s)
print(emp_details)
print(type(emp_details))
j=json.dumps(emp_details,indent=4)
with open('employee.json','w')as f: 
    json.dump(emp_details,f)

no of employees:5

 firstname:-SUSHMITH

 lastname:- NAIK

 city:- HYDERABAD

 CTC:- 500000

 age:-25

 phone_number:-9100573028

 firstname:-RAMESH

 lastname:-KUMAR

 city:-WARANGAL

 CTC:-100000

 age:-35

 phone_number:-9440148014

 firstname:-SURESH

 lastname:-RAO

 city:-EAST GODAVARI

 CTC:-150000

 age:-25

 phone_number:-9887856893

 firstname:-GOPAL

 lastname:-KRISHNA

 city:-KARIMANAGAR

 CTC:-100000

 age:-24

 phone_number:-98562354789

 firstname:-RAM

 lastname:-CHARAN

 city:-BANGLORE

 CTC:-566635

 age:-32

 phone_number:-98899999
[{'firstname': 'SUSHMITH ', 'lastname ': ' NAIK', 'city': ' HYDERABAD', 'CTC': 500000, 'AGE': 25, 'contact_no': 9100573028}, {'firstname': 'RAMESH', 'lastname ': 'KUMAR', 'city': 'WARANGAL', 'CTC': 100000, 'AGE': 35, 'contact_no': 9440148014}, {'firstname': 'SURESH', 'lastname ': 'RAO', 'city': 'EAST GODAVARI', 'CTC': 150000, 'AGE': 25, 'contact_no': 9887856893}, {'firstname': 'GOPAL', 'lastname ': 'KRISHNA', 'city': 'KARIMANAGAR', 'CTC': 100000, 'AGE': 24, 'contact_no': 98562354789}, {'firstname': 'RAM', 'lastname ': 'CHARAN', 'city': 'BANGLORE', 'CTC': 566635, 'AGE': 32, 'contact_no': 98899999}]
<class 'list'>

In [1]:
#first_name , last_name- you should get from user 
#city - you should get from user 
#Experience (in years) - you should get from user 
#CTC - you should get from user 
#AGE (in years) - you should get from user 
#Contact No - you should get from user